<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/metalinks') %>
</head>

<body>
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include ('./partials/header') %>
            <div class="page-body-wrapper">

                <%- include ('./partials/sidebar') %>
                    <!-- Container-fluid starts-->
                    <div class="page-body">
                        <div class="container-fluid">

                            <!-- Small modal-->
                            <div class="text-end">
                                <a class="btn btn-primary mb-2" type="button" href="/AddUser"
                                    data-bs-target=".model-of-addUser">Add User</a>
                            </div>

                            <div class="row">
                                <!-- Zero Configuration  Starts-->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header pb-0">
                                            <h4>User</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive theme-scrollbar">
                                                <table class="display" id="basic-1">
                                                    <thead>
                                                        <tr>
                                                            <th>S/l</th>
                                                            <th>Photo</th>
                                                            <th>Month</th>
                                                            <th>Name</th>
                                                            <th>Contect</th>
                                                            <th>EmpNum</th>
                                                            <th>Basic Salary</th>
                                                            <th>Gross Salary</th>
                                                            <th>Status</th>
                                                            <th>Opration</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <% var i=1 %>
                                                            <% User.forEach((item)=>{ %>

                                                                <tr class="align-middle">
                                                                    <th scope="row">
                                                                        <%=i++%>
                                                                    </th>
                                                                    <td> <img style="height: 55px; width: 55px; border-radius: 100%;"
                                                                            src="../upload/<%=item.image%>"
                                                                            alt=""></td>
                                                                    <td>
                                                                        <%=item.username %>
                                                                        <br>
                                                                        <span class="text-muted"><%=item.firstName %></span>
                                                                        <br>
                                                                        <span class="text-muted"><%=item.lastName %></span>
                                                                    </td>
    
                                                                    <td>
                                                                        email:<%=item.email %>
                                                                        <br>
                                                                        mobile:<%=item.Mobilenum %>
                                                                    </td>
                                                                    <td>
                                                                        <%=item.empId %>
                                                                        <br><span class="text-muted">salary:<%=item.salary %></span>
                                                                    </td>
                                                                    <td>
                                                                        <ul class="action">
                                                                            <li class="edit"> <a id="editData"
                                                                                    data-id="<%=item.id%>"
                                                                                    data-name="<%=item.User%>"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target=".model-of-editUser"><i
                                                                                        class="icon-pencil-alt"></i></a>
                                                                            </li>
                                                                            <li class="delete"><a
                                                                                    href="/Users/delete/<%=item.id%>"><i
                                                                                        class="icon-trash"></i></a>
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                                <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
    </div>

    <!-- model of add User -->
    <div class="modal fade model-of-addUser" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">User</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/newUser" method="post" class="theme-form">
                        <div class="page-body">
                            <div class="container-fluid">
                                <div class="page-title">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3>Edit Profile</h3>
                                        </div>
                                        <div class="col-sm-6">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="index.html"><i
                                                            data-feather="home"></i></a></li>
                                                <li class="breadcrumb-item">Users</li>
                                                <li class="breadcrumb-item active"> Edit Profile</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Container-fluid starts-->
                            <div class="container-fluid">
                                <div class="edit-profile">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-5">
                                            <div class="card">
                                                <div class="card-header pb-0">
                                                    <h4 class="card-title mb-0">My Profile</h4>
                                                    <div class="card-options"><a class="card-options-collapse" href="#"
                                                            data-bs-toggle="card-collapse"><i
                                                                class="fe fe-chevron-up"></i></a><a
                                                            class="card-options-remove" href="#"
                                                            data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <form>
                                                        <div class="row mb-2">
                                                            <div class="profile-title">
                                                                <div class="d-lg-flex d-block align-items-center"><img
                                                                        class="img-70 rounded-circle" alt=""
                                                                        src="../assets/images/user/7.jpg">
                                                                    <div class="flex-grow-1">
                                                                        <h3 class="mb-1 f-20 txt-primary"> <a
                                                                                href="user-profile.html">MARK JECNO</a>
                                                                        </h3>
                                                                        <p class="f-12 mb-0">DESIGNER</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <h6 class="form-label">Bio</h6>
                                                            <textarea class="form-control"
                                                                rows="5">On the other hand, we denounce with righteous indignation</textarea>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label f-w-500">Email-Address</label>
                                                            <input required class="form-control"
                                                                placeholder="your-email@domain.com">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label f-w-500">Password</label>
                                                            <input required class="form-control" type="password"
                                                                value="password">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label f-w-500">Website</label>
                                                            <input required class="form-control" placeholder="http://Uplor .com">
                                                        </div>
                                                        <div class="form-footer">
                                                            <button class="btn btn-primary btn-block">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 col-lg-7">
                                            <form class="card">
                                                <div class="card-header pb-0">
                                                    <h4 class="card-title mb-0">Edit Profile</h4>
                                                    <div class="card-options"><a class="card-options-collapse" href="#"
                                                            data-bs-toggle="card-collapse"><i
                                                                class="fe fe-chevron-up"></i></a><a
                                                            class="card-options-remove" href="#"
                                                            data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">Company</label>
                                                                <input required class="form-control" type="text"
                                                                    placeholder="Company">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">Username</label>
                                                                <input required class="form-control" type="text"
                                                                    placeholder="Username">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">Email address</label>
                                                                <input required class="form-control" type="email"
                                                                    placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">First Name</label>
                                                                <input required class="form-control" type="text"
                                                                    placeholder="Company">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">Last Name</label>
                                                                <input required class="form-control" type="text"
                                                                    placeholder="Last Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">Address</label>
                                                                <input required class="form-control" type="text"
                                                                    placeholder="Home Address">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">City</label>
                                                                <input required class="form-control" type="text"
                                                                    placeholder="City">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">Postal Code</label>
                                                                <input required class="form-control" type="number"
                                                                    placeholder="ZIP Code">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="mb-3">
                                                                <label class="form-label f-w-500">Country</label>
                                                                <select class="form-control btn-square">
                                                                    <option value="0">India</option>
                                                                    <option value="1">Germany</option>
                                                                    <option value="2">Canada</option>
                                                                    <option value="3">Usa</option>
                                                                    <option value="4">Aus</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div>
                                                                <label class="form-label f-w-500">About Me</label>
                                                                <textarea class="form-control" rows="5"
                                                                    placeholder="Enter About your description"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer text-end">
                                                    <button class="btn btn-primary" type="submit">Update Profile
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Container-fluid Ends-->
                        </div>
                        <button class="btn btn-pill btn-primary btn-air-light" type="submit" data-bs-original-title=""
                            title="">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- model of edit User -->
    <div class="modal fade model-of-editUser" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">User</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formaction" method="post" class="theme-form">
                        <div class="mb-3">
                            <label class="col-form-label pt-0" for="exampleInputEmail1">User</label>
                            <input required name="User" class="form-control" id="depart" type="text" aria-describedby="emailHelp"
                                placeholder="Enter User">
                        </div>
                        <button class="btn btn-pill btn-primary btn-air-light" type="submit" data-bs-original-title=""
                            title="">Done</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include ('./partials/script') %>
</body>

</html>