<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/metalinks') %>
</head>

<body>
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include ('./partials/header') %>
            <div class="page-body-wrapper">

                <%- include ('./partials/sidebar') %>
                    <!-- Container-fluid starts-->
                    <form id="permichecked" action="/newPermission" method="post">
                        <div class="page-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="card">
                                        <div class="row">
                                            <div class="mb-3 mt-3">
                                                <label class="form-label f-w-500"></label>
                                                <select name="Role" class="form-control btn-square" id="selectRole">
                                                    <option selected disabled>--Please Select--</option>
                                                    <% Role.forEach( (item)=>{ %>
                                                        <option value="<%=item.Role %>">
                                                            <%=item.Role_Name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Zero Configuration  Starts-->
                                    <div class="card">
                                        <div class="card-header pb-0">
                                            <h4>Permission </h4>
                                        </div>
                                        <div class="card-body">
                                            <div id="area_select" style="margin-top: 20px">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Administration</span>
                                                                <div class="panel-body">
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="3"
                                                                            type="checkbox" id="inlineCheckbox12"
                                                                            name="Add_role"><label
                                                                            for="inlineCheckbox12">Add
                                                                            Role</label>
                                                                    </div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="4"
                                                                            type="checkbox" id="inlineCheckbox13"
                                                                            name="Add_Role_Permission"><label
                                                                            for="inlineCheckbox13">Add Role
                                                                            Permission</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="5"
                                                                            type="checkbox" id="inlineCheckbox14"
                                                                            name="Change_Password"><label
                                                                            for="inlineCheckbox14">Change
                                                                            Password</label></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Payroll</span>
                                                                <div class="panel-body">
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="26"
                                                                            type="checkbox" id="inlineCheckbox130"
                                                                            name="TaxRuleSetup"><label for="inlineCheckbox130">Tax
                                                                            Rule
                                                                            Setup</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="27"
                                                                            type="checkbox" id="inlineCheckbox131"
                                                                            name="Allowance"><label
                                                                            for="inlineCheckbox131">Allowance</label>
                                                                    </div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="28"
                                                                            type="checkbox" id="inlineCheckbox132"
                                                                            name="Deduction"><label
                                                                            for="inlineCheckbox132">Deduction</label>
                                                                    </div>

                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="30"
                                                                            type="checkbox" id="inlineCheckbox134"
                                                                            name="HourlyPayGrade"><label
                                                                            for="inlineCheckbox134">Hourly Pay
                                                                            Grade</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="31"
                                                                            type="checkbox" id="inlineCheckbox135"
                                                                            name="GenerateSalarySheet"><label
                                                                            for="inlineCheckbox135">Generate
                                                                            Salary Sheet</label>
                                                                    </div>

                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="62"
                                                                            type="checkbox" id="inlineCheckbox140"
                                                                            name="BonusSetting"><label for="inlineCheckbox140">Bonus
                                                                            Setting</label></div>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Employee
                                                                    Management</span>
                                                                <div class="panel-body">
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="6"
                                                                            type="checkbox" id="inlineCheckbox15"
                                                                            name="Department"><label
                                                                            for="inlineCheckbox15">Department</label>
                                                                    </div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="7"
                                                                            type="checkbox" id="inlineCheckbox16"
                                                                            name="Designation"><label
                                                                            for="inlineCheckbox16">Designation</label>
                                                                    </div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="8"
                                                                            type="checkbox" id="inlineCheckbox17"
                                                                            name="Branch"><label
                                                                            for="inlineCheckbox17">Branch</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="9"
                                                                            type="checkbox" id="inlineCheckbox18"
                                                                            name="Manage_Employee"><label
                                                                            for="inlineCheckbox18">Manage
                                                                            Employee</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="54"
                                                                            type="checkbox" id="inlineCheckbox19"
                                                                            name="Warning"><label
                                                                            for="inlineCheckbox19">Warning</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="55"
                                                                            type="checkbox" id="inlineCheckbox110"
                                                                            name="Termination"><label
                                                                            for="inlineCheckbox110">Termination</label>
                                                                    </div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="56"
                                                                            type="checkbox" id="inlineCheckbox111"
                                                                            name="Promotion"><label
                                                                            for="inlineCheckbox111">Promotion</label>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Performance</span>
                                                                <div class="panel-body">
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="36"
                                                                            type="checkbox" id="inlineCheckbox142"
                                                                            name="PerformanceCategory"><label
                                                                            for="inlineCheckbox142">Performance
                                                                            Category</label>
                                                                    </div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="38"
                                                                            type="checkbox" id="inlineCheckbox144"
                                                                            name="EmployeePerformance"><label
                                                                            for="inlineCheckbox144">Emp
                                                                            Performance</label>
                                                                    </div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="40"
                                                                            type="checkbox" id="inlineCheckbox145"
                                                                            name="PerformanceSummaryReport"><label
                                                                            for="inlineCheckbox145">Summary
                                                                            Report</label></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       

                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Leave
                                                                    Management</span>
                                                                <div class="panel-body">
                                                                    
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="12"
                                                                            type="checkbox" id="inlineCheckbox114"
                                                                            name="PublicHoliday"><label
                                                                            for="inlineCheckbox114">Public
                                                                            Holiday</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="13"
                                                                            type="checkbox" id="inlineCheckbox115"
                                                                            name="WeeklyHoliday"><label
                                                                            for="inlineCheckbox115">Weekly
                                                                            Holiday</label></div>

                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="16"
                                                                            type="checkbox" id="inlineCheckbox117"
                                                                            name="ApplyforLeave"><label for="inlineCheckbox117">Apply
                                                                            for
                                                                            Leave</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="17"
                                                                            type="checkbox" id="inlineCheckbox118"
                                                                            name="ManageLeave"><label
                                                                            for="inlineCheckbox118">Manage Leave
                                                                        </label>
                                                                    </div>

                                                                </div>
                                                          
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Recruitment</span>
                                                                <div class="panel-body">
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="41"
                                                                            type="checkbox" id="inlineCheckbox146"
                                                                            name="JobPost"><label for="inlineCheckbox146">Job
                                                                            Post</label></div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        >
                                                    </div>
                                                   
                                                    <div class="col-lg-3">
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Attendance</span>
                                                                <div class="panel-body">
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="19"
                                                                            type="checkbox" id="inlineCheckbox123"
                                                                            name="ManageWorkShift"><label for="inlineCheckbox123">Manage
                                                                            Work Shift</label></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Award&Notice</span>
                                                                <div class="panel-body">
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="48"
                                                                            type="checkbox" id="inlineCheckbox151"
                                                                            name="Award"><label
                                                                            for="inlineCheckbox151">Award</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Training</span>
                                                                <div class="panel-body">
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="45"
                                                                            type="checkbox" id="inlineCheckbox148"
                                                                            name="TrainingType"><label for="inlineCheckbox148">Training
                                                                            Type</label></div>
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="47"
                                                                            type="checkbox" id="inlineCheckbox150"
                                                                            name="TrainingReport"><label for="inlineCheckbox150">Training
                                                                            Report</label></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="well" style="margin-bottom:15px; padding:20px">
                                                                <span
                                                                    style="font-weight:bold; border-bottom:1px solid #000;">Settings</span>
                                                                <div class="panel-body">
                                                                 
                                                                    <div class="checkbox checkbox-info"><input  value="0"
                                                                            class="inputCheckbox xxx" data-menu="66"
                                                                            type="checkbox" id="inlineCheckbox154"
                                                                            name="GeneralSetting"><label for="inlineCheckbox154">General
                                                                            Setting</label></div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 mt-2 d-flex justify-content-center">
                                        <button class="btn btn-primary" type="submit" data-bs-original-title=""
                                            title="">Apply</button>
                                    </div>
                                </div>

                            </div>
                        </div>



            </div>
            </form>
    </div>
    </div>


    <%- include ('./partials/script') %>
</body>

</html>