<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/metalinks') %>
</head>

<body>
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include ('./partials/header') %>
            <div class="page-body-wrapper">

                <%- include ('./partials/sidebar') %>
                    <!-- Container-fluid starts-->
                    <div class="page-body">
                        <div class="container-fluid">


                            <div class="card">
                                <div class="card-header">
                                    <h5>Settings of Compney Info:</h5>
                                </div>
                                <form action="/Setting" method="post" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="card p-3 ">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <label
                                                        class="col-form-label pt-0 f-20 txt-primary me-2">LOGO:</label>
                                                    <!-- image upload -->
                                                    <div><img class="img-thumbnail" id="preview"
                                                            src="../upload/<%=Setting[0].image%>"
                                                            style="height: 80px; width: 80px; border-radius:100%">
                                                    </div>
                                                    <input type="file" name="image" id="image-input" accept="image/*">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card p-3 ">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <label class="col-form-label pt-0 txt-primary me-2">Company
                                                            Name:</label>
                                                        <!-- image upload -->
                                                        <input name="CompnyName" class="form-control"
                                                            id="exampleInputEmail1" type="text"
                                                            value="<%=Setting[0].CompnyName%>">
                                                    </div>
                                                </div>
                                                <div class="card p-3 ">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <label class="col-form-label pt-0 txt-primary me-2">Company
                                                            Heading:</label>
                                                        <!-- image upload -->
                                                        <input name="LandingHeading" class="form-control"
                                                            id="exampleInputEmail1" type="text"
                                                            value="<%=Setting[0].LandingHeading%>">
                                                    </div>
                                                </div>
                                                <div class="card p-3 ">

                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <label class="col-form-label pt-0 txt-primary me-2">Company
                                                            Web:</label>
                                                        <!-- image upload -->
                                                        <input name="web" class="form-control"
                                                            id="exampleInputEmail1" type="text"
                                                            value="<%=Setting[0].web%>">
                                                    </div>
                                                </div>
                                                <div class="card p-3 ">
    
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <label class="col-form-label pt-0 txt-primary me-2">Company
                                                            ContactNo:</label>
                                                        <!-- image upload -->
                                                        <input name="mobile" class="form-control"
                                                            id="exampleInputEmail1" type="text"
                                                            value="<%=Setting[0].mobile%>">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="card p-3 ">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <label class="col-form-label pt-0 txt-primary me-2">Tag
                                                            Line:</label>
                                                        <!-- image upload -->
                                                        <input name="LilIntro" class="form-control"
                                                            id="exampleInputEmail1" type="text"
                                                            value="<%=Setting[0].LilIntro%>">
                                                    </div>
                                                </div>
                                                <div class="card p-3 ">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <label class="col-form-label pt-0 txt-primary me-2">Company
                                                            Introduction:</label>
                                                        <!-- image upload -->
                                                        <input name="BrifeIntro" class="form-control"
                                                            id="exampleInputEmail1" type="text"
                                                            value="<%=Setting[0].BrifeIntro%>">
                                                    </div>
                                                </div>
                                                <div class="card p-3 ">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <label class="col-form-label pt-0 txt-primary me-2">Company
                                                            Email:</label>
                                                        <!-- image upload -->
                                                        <input name="email" class="form-control"
                                                            id="exampleInputEmail1" type="email"
                                                            value="<%=Setting[0].email%>">
                                                    </div>
                                                </div>
                                                <div class="card p-3 ">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <label class="col-form-label pt-0 txt-primary me-2">Company
                                                            Location:</label>
                                                        <!-- image upload -->
                                                        <input name="location" class="form-control"
                                                            id="exampleInputEmail1" type="text"
                                                            value="<%=Setting[0].location%>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button class="btn btn-primary" type="submit" data-bs-original-title=""
                                            title="">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <form action="LandingPageSetting" method="post" enctype="multipart/form-data">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Landing Page Settings:</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        
                                            <div class="card p-3 ">
                                                <div class="text-center">
                                                    <label
                                                        class="col-form-label pt-0 f-20 txt-primary me-2">Photos:</label>
                                                    <!-- image upload -->
                                                    <a>Must be select 4 Images</a>
                                                    <input type="file" name="image" multiple id="image-input" accept="image/*">
                                                </div>
                                            </div>
                                        
                                       
                                        <div class="text-center mb-3">
                                            <button class="btn btn-primary" type="submit" data-bs-original-title=""
                                                title="">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
            </div>
    </div>


    <%- include ('./partials/script') %>
</body>

</html>